extends ../layout

block head
  style(type="text/css")
    body {
      padding: 0;
      margin: 0;
    }
    .navbar {
      margin-top: 10px;
    }
    .container {
      width: 75%;
    }
    table {
      margin-bottom: 10px
    }



block content
 .container
   .navbar
    .navbar-inner
      a.brand(href="#") I &hearts; Node.js
      ul.nav
        li.active
          a(href="#") Users
        li
          a(href="#") Schools
   .tables
     table.table.table-stripped.table-bordered
       caption Users
       tr
         th name
         th username
         th email
         th password
         th active
       tr
         td Santiago
         td santiago
         td sgaviria@gmail.com
         td papa123
         td true
     table.table.table-stripped.table-bordered
       caption Schools
       tr
         th name
         th username
         th email
         th password
         th active
       tr
         td Santiago
         td santiago
         td sgaviria@gmail.com
         td papa123
         td true
       tr
         td Santiago
         td santiago
         td sgaviria@gmail.com
         td papa123
         td true
       tr
         td Santiago
         td santiago
         td sgaviria@gmail.com
         td papa123
         td true